<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/static/styles.css">
        <body>
            <h1>My Books</h1>
                    <div class="books">
            <div class="thumbnail">
                <a href="https://en.wikipedia.org/wiki/The_Very_Hungry_Caterpillar">
                    <img src="https://upload.wikimedia.org/wikipedia/en/b/b5/HungryCaterpillar.JPG"> 
                    <br>The Hungry Caterpiller - Eric Carle<br> 
                </a>
            </div>
            <ul>
                {% for book in books %}
                    <li>{{ book.title }} by {{ book.author }}</li>
                {% endfor %}
                <!-- <li>The Hungry Caterpiller - Eric Carle</li>
                <li>Amber the Orange Fairy - Daisy Meadows</li>
                <li>The Elephant Vanishes - Haruki Murakami</li>
                <li>Dune - Frank Herbert</li> -->
            </ul>
        </body> 
</html>